<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1>Station Météo</h1></div>
    <div>
        {% for sensor in sensors %}
            <div style="border: solid 1px black; width: 300px; margin-bottom: 10px;">
                <a href="/modules/{{ sensor.id }}">{{ sensor.name }}</a>
                <p>Température: {{ sensor.last_log.temperature|default("N/A") }} °C</p>
                <p>Humidité: {{ sensor.last_log.humidity|default("N/A") }} %</p>
                <p>Mis à jour le : {{ sensor.last_log.timestamp|default("N/A")|date }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
